style(type="text/css").
  h1 {
    color: red;
  }
  table {
  border-collapse: collapse;
  }
  td, th {
  border: 2px solid #999;
  border-color: rgb(0,0,0);
  padding: 10rem;
  text-align: left;
  margin: 1rem;
  }

//- h1 hatz

//- each name in listOfNames
//-   p #{name}

//- p #{keywordConvertor(#{formalText},"20-OCT-2021")}
p #{formalText}
table
  - let k = 1
  tr
    th Nr. crt.
    th Nume
    th Ora programarii
  each name in listOfNames
    tr
      td #{k}
      td #{name}
      td #{listOfIntervals[k-1]}
      - k++


script(src='./assets/js/email-content-keyword.js')